Source: ros-kinetic-opencv-candidate
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-cv-bridge
Homepage: https://github.com/wg-perception/opencv_candidate
Standards-Version: 3.9.2

Package: ros-kinetic-opencv-candidate
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-cv-bridge
Description: Experimental OpenCV functions
